streamlit
fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-google-genai
langgraph
sentence-transformers
faiss-cpu
pypdf
pymupdf
python-dotenv
pandas
numpy
transformers
torch
pydantic
google-generativeai